<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache" failOnWarning="true">
  <testsuites><testsuite name="SocraNext"><directory>tests</directory></testsuite></testsuites>
  <php><env name="APP_ENV" value="testing"/><env name="APP_KEY" value="base64:jDLbeDmXaMMKSfTU3zZ6ed5TYhAtGh2t5CY/4YNKzWw="/><env name="CACHE_STORE" value="array"/><env name="SESSION_DRIVER" value="array"/></php>
</phpunit>
